<!DOCTYPE html>

<html>

<head>
    <!-- TITLE OF THE PAGE -->
    <title><%=title%></title>
    <!-- FONT AWESOME -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" ></script>

</head>

<body>
    <%- body %>

    <!-- javascript -->
    <script type="text/javascript" src="/js/file_viewer.js"></script>

</body>

</html>